
			/*-------------------------*/
			/* You Comments */
			/*-------------------------*/
			.tcr-blog-classic .entry-meta-footer .entry-meta-container i,
			.infobox-style-9 .tcr-infobox-icon .icon-number,
			.infobox-style-11 .tcr-infobox-wrapper .tcr-infobox-icon,
			.testimonials-style-2 .tcr-testimonial-rating span,
			.testimonials-style-1 .tcr-testimonial-rating span,
			.counter-style-2 a,
			.counter-style-1 .tcr-counter-wrapper a,
			.header-layout-2 .social-info-wrapper ul li a i:hover,
			.testimonials-style-1 .testimonial-designation,
			.infobox-style-10 .tct-infobox-link a:after,
			.counter-style-1 .tcr-counter-icon i,
            .infobox-style-10 .tcr-infobox-icon i,
			.tcr-blog-classic footer .entry-meta-container>span a:hover,
			.services-style-2 .tcr-service-title-inner .tcr-service-content a:hover,
			.tcr-infobox-color .infobox-style-10 .tcr-infobox-icon i,
			.header-layout-1 .header-topbar-left .tcr-header-link li a:hover,
			.footer-topbar .tcr-footer-box .tcr-footer-icon,
			.calens-list-wrapper ul li i,
			.pricing-table-title-period,
			.header-layout-1 .header-info .contact-item i,
			.header-layout-1 .contact-info i,
			.services-style-3 .tcr-service-icon i,
			.infobox-style-8 .tcr-infobox-wrapper a:hover,
			ul.tcr-footer-menu li a:before,
			a:hover
            .counter-style-2 a, 
			.infobox-style-9 .tcr-infobox-icon i,
			.tcr-pricing-table-feature-list .feature-list-item i,
			.infobox-style-1 .tcr-infobox-icon i,
			.infobox-style-2 .tcr-infobox-icon i,
			.services-style-1 .tcr-service-date,
			.services-style-2 .tcr-service-date i,
			.services-style-2 .service-title:hover,
			.team-style-1 .tcr-teammember-social-profiles li a,
			.team-style-1 .tcr-teammember-wrapper .teammember-title:hover a,
			.team-style-2 .tcr-teammember-social-profiles li a,
			.team-style-2 .tcr-teammember-wrapper .teammember-title:hover a,
			.team-style-2 .tcr-teammember-social-profiles-container,
			.blog-style-2 .tcr-post-meta .tcr-post-meta-inner .post-date i, 
			.blog-style-2 .tcr-post-meta .tcr-post-meta-inner .post-comment i,
			.blog-style-2 .tcr-post-wrapper .read-more-link i,
			.blog-style-2 .tcr-post-wrapper .read-more-link a,
			.custom-heading-style-1 .heading-subtitle,
			.tcr-list-tab .tcr-tab-icon,
			.header-layout-1 .header-info-content a,
			.header-layout-1 .header-stickable.tcr-sticky-header div>ul>li>a:hover,
			.header-layout-3 .header-right-side .search-wrapper a,
			.header-layout-3 .header-stickable.tcr-sticky-header div>ul>li>a:hover,
			.counter-style-5 .tcr-counter-icon i,
			.infobox-style-4 .tcr-infobox-icon i,
			.infobox-style-7 .tcr-infobox-icon i,
			.projects-style-1 .tcr-project-content-inner .tcr-project-title .project-title a:hover,
			.widget_recent_services ul li:hover a, 
			.widget_recent_services ul li a[aria-current="page"],
			.widget_recent_services ul li:hover a:after, 
			.widget_recent_services ul li a[aria-current="page"]:after,
			.widget.widget_categories ul li > a:before,
			.widget.widget_meta ul li > a:before,
			.widget.widget_recent_entries ul li:before,
			.widget.widget_recent_comments ul li:before,
			.widget.widget_archive ul li a:before,
			ul.wp-block-archives li > a:before,
			.tcr-blog-classic .entry-title a:hover,
            .services-style-1 .tcr-service-title h3 a:hover,
            .team-style-1 .teammember-title a:hover,
            .blog-style-2 .tcr-post-wrapper .tcr-post-title h3 a:hover,
            .services-style-2 .service-title a:hover,
            .blog-style-1 .tcr-post-slide h3 a:hover,
			.team-style-2 .tcr-teammember-title h3 a:hover,
			.widget_tcr_recent_entries li .tcr-post-date,
            widget_tcr_recent_entries ul li:hover a,
			widget_tcr_recent_entries ul li a[aria-current="page"],
			widget_tcr_recent_entries ul li:hover a:after,
			widget_tcr_recent_entries ul li a[aria-current="page"]:after,
            .tcr-copyright .social-icons li a:hover,
			.tcr-action-box a,					
			.comment-list .comment-date a,
			.tcr-blog-classic .social-share-button i,
			.tcr-blog-classic .entry-meta-footer .entry-meta-container i,
			.site-header .main-navigation div > ul >li.current-menu-parent > a,
			.site-header .main-navigation div > ul >li>a:hover,
			.site-header .main-navigation div > ul >li.current-menu-item > a,
			widget_tcr_recent_entries li .tcr-post-date,			
			a:hover,
			.skincolor,
			.services-style-2 .tcr-post-category a,
			.tcr-footer-widgets-wrapper .menu li a:before,
			.tcr-footer-widgets-wrapper .widget_contact i,
			.tcr-page-title .breadcrumb i,
			section.error-404 a.fof-back-buttton:hover,
			.your-class {color: #4dac4d; }
            
            .widget_archive ul li span,
            .widget_categories ul li span
            .tcr-contact-info .wpcf7-submit,
            .related-posts.blog-style-1 .tcr-post-date,
            .tcr-blog-classic footer ul.social-share-icons a.icon-link,
            .tcr-blog-classic .posted-on,
			.progress-bar-style-3 .tcr-progress-bar-wrapper:before,
            .infobox-style-6 .tcr-infobox-wrapper .tcr-infobox-icon,
            .infobox-style-5 .tcr-infobox-icon .icon-number,
            .infobox-style-5 .tcr-infobox-icon i,
            .counter-style-1 .tcr-counter-number:before,
            .owl-nav button.owl-prev:hover,
            .owl-nav button.owl-next:hover,
            .infobox-style-7 .tcr-infobox-icon .icon-number,
            .infobox-style-1 .tcr-infobox-icon .icon-number,
            .infobox-style-4 .tcr-infobox-icon .icon-number,
            .infobox-style-3 .tcr-infobox-icon .icon-number,
            .infobox-style-2 .tcr-infobox-icon .icon-number,
            .infobox-style-10 .tcr-infobox-icon .icon-number,
            .blockquote-01 blockquote p:after, 
			.counter-style-border:before, 
			.infobox-style-10 .tcr-infobox-wrapper:before,
            .infobox-style-10 .tcr-infobox-wrapper:after,
			.infobox-style-9 .tcr-infobox-wrapper a,
			.infobox-style-9:hover .tcr-service-content-inner:before,
			.tcr_progress_bar_wrapper .tcr-progress-bar-inner,
			.services-style-3 .tcr-service-link a,
			.progress-bar-style-1 .tcr-progress-bar-value,
            .services-style-2 .tcr-service-slide:hover .tcr-service-thumbnail-wrapper .tcr-service-date i, 
            .counter-style-2,
			.counter-style-3 .tcr-counter-wrapper,
			.projects-style-1 .tcr-project-content-inner .tcr-project-action-icons a,
			.team-style-1 .tcr-teammember-social-profiles li a:hover,
			.team-style-1 .tcr-teammember-content-cover .tcr-teammember-share,
			.team-style-2 .tcr-teammember-social-profiles li a:hover,			
			.infobox-style-4:hover .tcr-infobox-inner:after,
			.blog-style-1 .tcr-post-date:after,
			.blog-style-2 .tcr-post-meta .tcr-post-meta-inner .post-date:after,
			.projects-style-2 .tcr-project-content-cover .tcr-project-content-inner .tcr-project-action-icons,
			.calens_progress_bar_wrapper .tcr-progress-bar-inner,
			.pricing-table-onsale .pricing-table-price-wrapper:after,
			.appointment-form-2 .input-button input[type=submit],
			.social-info-wrapper ul li a i:hover,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-next:hover,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-prev:hover,
			.tcr-form.contact-form .wpcf7-form-control.wpcf7-submit,
			.tcr-blog-classic blockquote,
			blockquote,
			.tcr-form.contact-form .wpcf7-form-control.wpcf7-submit:hover,

			.header-layout-1 .header-topbar-right .calens-header-button a,
			.services-style-3 .tcr-service-service-wrapper:hover .tcr-service-content-inner:before,
            .pricing-table-onsale .tcr-pricing-table-button a,
            .single-service .item-download a:hover,   
			.elementor-section.cd-bg-color-primary,
			.cd-right-expand.cd-bg-color-primary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-primary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-primary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-primary:after,
			.cd-bg-color-primary.elementor-column > .elementor-column-wrap,
			.tcr-form.appointment-form input[type=submit],
			.cd-color-primary.elementor-button.elementor-size-sm,
			.cd-color-secondary:hover.elementor-button.elementor-size-sm,
			.cd-color-tertiary:hover.elementor-button.elementor-size-sm,
			.tcr-pricing-table-button a:hover,
			.time-line-lable .elementor-widget-container,
			.site-footer .social-info-wrapper ul li a:hover i,
			.tcr-project-detail-title:before,
			.tcr-sticky-header,
			.header-layout-1 .header-nav-left-side,
			.header-layout-1 .header-nav-left-side:before,
			.widget_recent_services h2.widget-title,
			.widget_recent_services ul li:hover a:after,
			.widget_recent_services ul li:hover a[aria-current="page"]:after,
			.widget_recent_services ul li a[aria-current="page"]:after,
			.comment-navigation .nav-next a:after,
			.posts-navigation .nav-next a:after,
			.post-navigation .nav-next a:after,
			.comment-navigation .nav-previous a:before, 
			.posts-navigation .nav-previous a:before, 
			.post-navigation .nav-previous a:before,
			.blockquote-01 blockquote p:after,
            
            #scroll-to-top a,
			.site-footer a.footer-button-link,
			.site-footer .calens-footer-newslatter button[type=submit],
            .testimonials-style-1 .tcr-testimonial-image-container:before,
            .arrow-middle-left-right .owl-nav button.owl-prev:hover, 
            .arrow-middle-left-right .owl-nav button.owl-next:hover,
            .widget_tag_cloud a:hover,
			.widget_archive ul li:hover span,
			.widget_categories ul li:hover span,
			widget_tcr_recent_entries h2.widget-title,
			body .elementor-element .elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active,
            .tcr-teammember-link-profiles li a:hover,
			input[type=submit]:hover,
			.comment-list a.comment-reply-link, 		
			.wpb-js-composer .tcr-accordion-style-1 .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-title>a:before,
			.owl-dots .owl-dot.active,
			.tcr-year,
			.tcr-about-introbox:before,
			.tcr-blog-classic footer ul.social-share-icons a.icon-link,
			.tcr-blog-classic .posted-on:after,
			.site-header .main-navigation div > ul ul a:hover:before,
			.col-extend-right.extend-with-primary-bg:after,
			.vc_row.tcr-bg-color-primary,
			.wpb_column.tcr-bg-color-primary > .vc_column-inner,
			.site-header .tcr-header-button a,
			.post.sticky .tcr-blog-classic-inner:after,
			.wp-block-tag-cloud a:hover,
			.wp-block-calendar table th,
			.wp-block-search button,
			body.search input.search-submit,
			.nav-links .page-numbers:hover,
			.nav-links .page-numbers.current,
			.comment-respond .comment-form input[type=submit],
			section.error-404 .search-form .search-submit:hover,
			.site-header .main-navigation div > ul ul li:hover.current_page_item > a,
			.site-header .main-navigation div > ul ul li.current_page_item > a,
			.site-header .main-navigation div > ul ul li a:hover,
			.services-style-2 .tcr-service-slide .tcr-service-thumbnail-wrapper .tcr-service-date i,
			section.error-404 a.fof-back-buttton,
			.infobox-style-7 .tcr-infobox-content:after,
			.wp-block-button__link:hover{background-color: #4dac4d; }

			.tcr-teammember-thumbnail{border-top-color:#4dac4d;}

			.mfp-close,
			.header-layout-1 .social-info-wrapper ul li a:hover i{background-color: #4dac4d !important; }

			.services-style-2 .tcr-service-title-inner .tcr-service-content a:hover,
			.post.sticky .tcr-blog-classic-inner{border-color:#4dac4d;}
			.progress-bar-style-1 .tcr-progress-bar-value:after{border-color:#4dac4d #4dac4d transparent transparent;}
			.tcr-list-tab.cd-active-tab-link a,
			.tcr-action-box a {border-bottom-color:#4dac4d;}
			.tcr-teammember-thumbnail{border-top-color:#4dac4d;}
			input:focus,select:focus,textarea:focus{border-color:#4dac4d;}
			.progress-bar-style-2 .tcr-progress-bar-title-wrapper .tcr-progress-bar-title,
			.progress-bar-style-3 .tcr-progress-bar-title,
			.counter-style-4 .tcr-counter-number:before,
			.counter-style-4 .tcr-counter-title, 
			.comment-navigation .nav-next a:hover,
			.posts-navigation .nav-next a:hover,
			.post-navigation .nav-next a:hover,
			.comment-navigation .nav-previous a:hover,
			.posts-navigation .nav-previous a:hover,
			.post-navigation .nav-previous a:hover,
			.site-header .main-navigation div>ul ul a,
			.tcr-list-tab.cd-active-tab-link a,
			.blockquote-01 blockquote,
			.blockquote-01 blockquote cite,
			.header-layout-3 .site-header .main-navigation div > ul >li>a:hover,
			.header-layout-1 .social-info-wrapper ul li a i,
			.header-layout-3 .site-header .main-navigation div > ul >li.current-menu-parent > a,

			.calens-form.appointment-form input[type=submit]:hover,
			.tcr-blog-classic footer .entry-meta-container>span a,
			.widget_recent_services ul li a:after,
			.team-style-1 .teammember-title a,
			.site-footer a.footer-button-link:hover,
			.infobox-style-9:hover .tcr-infobox-wrapper a,
			.cd-color-white.elementor-button.elementor-size-sm,
			.progress-bar-style-2 .tcr-counter-icon,
			.blog-style-1 .tcr-post-category a,			
			.header-layout-1 .header-stickable.tcr-sticky-header div>ul>li>a,
			.header-layout-3 .header-stickable.tcr-sticky-header div>ul>li>a,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-prev,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-next,
			.text-black .progress-bar-style-1 .tcr-progress-bar-title,
			a,a:visited {color: #282d47; }	

			.header-layout-3 .site-header .tcr-header-button a:hover{color: #282d47 !important; }	
            
            .pricing-table-price-wrapper .pricing-table-sale-price,
            body .owl-dots .owl-dot,
			.owl-nav button.owl-prev,
            .owl-nav button.owl-next,
			.progress-bar-style-3 .tcr-progress-bar-value,
			.calens-form.appointment-form input[type=submit],
			.cd-color-white.elementor-button:hover.elementor-size-sm,
            .arrow-middle-left-right .owl-nav button.owl-prev, 
            .arrow-middle-left-right .owl-nav button.owl-next,
			.infobox-style-8 .tcr-infobox-wrapper,
   			.counter-style-2 a:hover,
			.infobox-style-4 .tcr-infobox-inner:after,
			.tcr-project-details,
            .pricing-table-onsale .tcr-pricing-table-button a:hover,
			.widget.widget_recent_services,
			.services-style-2 .tcr-service-slide:hover .tcr-service-thumbnail-wrapper .tcr-service-date i,
			.infobox-style-3 .tcr-infobox-icon i,
			.header-layout-3 .header-right-side .search-wrapper a:hover,

			.elementor-section.cd-bg-color-secondary,
			.cd-right-expand.cd-bg-color-secondary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-secondary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-secondary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-secondary:after,
			.tcr-list-tab.cd-active-tab-link a,
			.cd-bg-color-secondary.elementor-column > .elementor-column-wrap,
			.cd-color-primary:hover.elementor-button.elementor-size-sm,
			.cd-color-secondary.elementor-button.elementor-size-sm,
			.tcr-pricing-table-button a,
			.appointment-form-2 .input-button input[type=submit]:hover,
			.social-info-wrapper ul li a i,
			.header-layout-1 .contact-info,
			.header-layout-1 .header-topbar-right .calens-header-button a:hover,
			.header-layout-3 .site-header .tcr-header-button a,
			.tcr-form.contact-form .input-group input[type=submit],
            .progress-bar-style-3.tcr_progress_bar_wrapper .tcr-progress-bar-inner,

			.comment-navigation .nav-next a:hover:after,
			.posts-navigation .nav-next a:hover:after,
			.post-navigation .nav-next a:hover:after,
			.comment-navigation .nav-previous a:hover:before,
			.posts-navigation .nav-previous a:hover:before,
			.post-navigation .nav-previous a:hover:before,

			#scroll-to-top a:hover,
			widget_tcr_recent_entries,
			.tcr-teammember-wrapper-content,
			widget_tcr_recent_entries ul li:hover a:before,
			widget_tcr_recent_entries ul li a[aria-current="page"]:before,
			.single-service .item-download a span,
			.comment-list a.comment-reply-link:hover,			
			.tcr-contact-info .wpcf7-submit:hover,			
			.site-header .tcr-header-button a:hover,
			.site-header .tcr-bg-color-secondary,
			body.search input.search-submit:hover,
			section.error-404 .search-form .search-submit,
			.comment-respond .comment-form input[type=submit]:hover{background-color: #282d47; }

			.mfp-bg{background-color: #282d47; !important }

			
			.header-layout-1 .social-info-wrapper ul li a i,
			.tcr-list-tab.cd-active-tab-link a,
            .tcr_tabs_wrapper.tcr-layout-vertical .tcr-list-tab a,
			.tcr_progress_bar_wrapper .tcr-progress-bar,
			 
			.cd-left-expand.elementor-top-section.cd-bg-color-tertiary:after,			
			.cd-right-expand.elementor-top-section.cd-bg-color-tertiary:after,			
			.cd-right-expand.cd-bg-color-tertiary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-tertiary .elementor-column-wrap:after,
			.elementor-section.cd-bg-color-tertiary,
			.calens_progress_bar_wrapper .tcr-progress-bar,
			.cd-bg-color-tertiary.elementor-column > .elementor-column-wrap,
			.cd-color-tertiary.elementor-button.elementor-size-sm,

			.infobox-style-7 .tcr-infobox-content:before,
			.widget,
			.comment-list .reply:after,
			.post-author-box,
			.tcr-contact-info .infobox-style-3 i:after{background-color: #f6f6f6; }
			.tcr-topbar-wrapper {color: #272727; }
			.header-layout-1 .tcr-topbar-wrapper .header-topbar,
			.header-layout-1 .header-topbar:after,
			.header-layout-2 .tcr-topbar-wrapper,
			.header-layout-3 .tcr-topbar-wrapper {background-color: #f6f6f6; }
			.tcr-page-title {height: 400px; }
			.site-header .site-logo img {min-height: 50px; }
			.site-header .sticky-site-logo img {min-height: 50px; }.tcr_custom_heading_wrapper .tcr-heading-title-wrapper .heading-title { font-family: Barlow Condensed;font-weight: 700;line-height: 52px;font-size: 52px; }.tcr_custom_heading_wrapper .tcr-heading-subtitle-wrapper .heading-subtitle { font-family: Poppins;font-weight: 600;line-height: 24px;font-size: 15px; }body { font-family: Poppins;font-weight: 400;line-height: 26px;font-size: 15px; }h1 { font-family: Barlow Condensed;font-weight: 700;letter-spacing: 0px;line-height: 50px;font-size: 46px; }h2,.elementor-widget-heading h2.elementor-heading-title { font-family: Barlow Condensed;font-weight: 700;letter-spacing: 0px;line-height: 46px;font-size: 40px; }h3 { font-family: Barlow Condensed;font-weight: 700;line-height: 42px;font-size: 36px; }h4 { font-family: Barlow Condensed;font-weight: 700;line-height: 36px;font-size: 30px; }h5 { font-family: Barlow Condensed;font-weight: 700;line-height: 30px;font-size: 26px; }h6 { font-family: Barlow Condensed;font-weight: 700;line-height: 26px;font-size: 22px; }